{% extends 'base.html' %}
{% block title %}
用户注册页面
{% endblock %}
{% block right %}
<script>
    function change_code() {
        // $("#mycode").attr("src", "/users/code/?id="+ Math.random())
        $("#mycode").attr("src", "/users/code/?id="+ new Date().getTime())
    }
</script>
<div class="col-md-9">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">用户注册</h2>
        </div>
        <div class="panel-body">
            <form action="{% url 'users:register' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4 class="text-center text-danger">{{msg}}</h4>
                <div class="form-group">
                    <label for="Username" class="col-sm-2 control-label">用户名称</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="username" id="username" placeholder="用户名称">
                    </div>
                    <div class="col-sm-3 error_msg"></div>
                </div>
                <div class="form-group">
                    <label for="nikename" class="col-sm-2 control-label">用户昵称</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="nikename" id="nikename" placeholder="用户昵称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">用户密码</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="用户密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-5">
                        <input type="password2" class="form-control" name="password2" id="password2" placeholder="确认密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">验证码</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" autocomplete="off" name="code" id="code" placeholder="验证码">
                    </div>
                     <div class="col-sm-3">
                        <a href="#" onclick="change_code()" title="换一换"><img id="mycode" src="{% url 'users:code' %}" alt="验证码"></a>
                    </div>
                     <div class="col-sm-3">
                         <a href="#" onclick="change_code()" title="换一换">换一换</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 text-center">
                        <button type="submit" id="submit" class="btn btn-info" disabled>用户注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
	$(function(){
		$("#username").on("blur", function () {
            let $username = $("#username").val()
            if ($username.trim() == "") {
                alert("用户名称不能为空！！")
                return;
            }
            $.ajax({
				url:"/users/check_user/",
				data: {"username": $username},
				type:"POST",
				dataType:"json",
				success:function(data){
					console.log(data)
					if (data.issuccess){
						$(".error_msg").html("<span style='color: green'>"+ data.msg +"</span>")
						$("#submit").prop("disabled", false)

					}else{
						$(".error_msg").html("<span style='color:red'>"+ data.msg +"</span>")
						$("#submit").prop("disabled", true)

					}

				}
			})

    })

    })
</script>
{% endblock%}
